<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit personal infomation</title>
</head>
<body>
    <div id="title"><h1 align="center">Edit Personal Infomation</h1> </div>
    <div id="form" style="margin: 0 620px 0 620px">
        <form action="http://148.70.137.99:8080/xblog/admin/v1/user/edit/personalinfo" method="get" style="text-align:center">
            <fieldset>
                <legend>please input personal info</legend>
                password: <br><input id="password" name="password" type="password" placeholder="please input password">
                <br>
                <input type="submit" value="save">
            </fieldset>
        </form>
    </div>
</body>
</html>