<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <title>login</title>
    <style type="text/css">
        h2 {color: red}
        p {
            color: blue;
            margin-left: 20px;
            background-color:red;
            padding:20px;
        }
        body {
            background-color: white;
        }
    </style>
</head>
<body>
    <div class="box">
        <div id="title"><h2 align="center">登录</h2> </div>
        <div id="form" style="margin: 0 620px 0 620px">
            <form action="http://148.70.137.99:8080/xblog/admin/v1/user/login" method="get" style="text-align:center">
                <fieldset>
                    <legend>请输入个人信息</legend>
                    名称: <br><input id="name" name="name" type="text" placeholder="please input name">
                    <br>
                    密码: <br><input id="password" name="password" type="password" placeholder="please input password">
                    <br>
                    <input type="submit" value="登录">
                </fieldset>
            </form>
        </div>
    </div>
</body>
</html>

