<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <title>manager page</title>
</head>
<body>
    <h1 id="title" align="center">管理页</h1>
    <div style="margin: 0 600px 0 600px">
        <form id="f1" action="http://148.70.137.99:8080/xblog/admin/v1/text/feeds" method="get">
            <button type="button" onclick="addparam('f1')">首页</button>
        </form>
        <form id="f2" action="http://148.70.137.99:8080/xblog/admin/v1/user/list" method="get">
            <button type="button" onclick="addparam('f2')">用户列表</button>
        </form>
    </div>
    <script>
        function addparam(ip) {
            var f = document.getElementById(ip);
            f.action += "?page=0";
            window.location.href = f.action;
        }
    </script>
</body>
</html>