<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>personal page</title>
</head>
<body>
    <div><h1 id="title" align="center">{{.title}}</h1> </div>
    <div style="margin: 0 600px 0 600px">
        <form action="#" method="get">
            <button type="submit">blog list</button>
        </form>
        <form action="http://148.70.137.99:8080/xblog/admin/v1/user/personal/info" method="get">
            <button type="submit">personal infomation</button>
        </form>
    </div>
</body>
</html>