<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <title>personal page</title>
</head>
<body>
    <div><h1 id="title" align="center">{{.title}}</h1> </div>
    <div style="margin: 0 720px 0 720px">
        <form action="http://148.70.137.99:8080/xblog/admin/v1/text/all/list" method="get">
            <button type="button" onclick="addparamv1()">博客列表</button>
        </form>
        <form action="http://148.70.137.99:8080/xblog/admin/v1/user/personal/info" method="get">
            <button type="submit">个人信息</button>
        </form>
        <form action="http://148.70.137.99:8080/xblog/admin/v1/text/edit" method="get">
            <button type="button" onclick="addparam()">创建博客</button>
        </form>
    </div>
    <script>
        function addparam() {
            var f = document.getElementsByTagName("form")[2];
            f.action += "?page=0";
            window.location.href = f.action;
        }
        function addparamv1() {
            var f = document.getElementsByTagName("form")[0];
            f.action += "?page=0";
            window.location.href = f.action;
        }
    </script>
</body>
</html>