<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <title>blog detail page</title>
</head>
<body>
    <div>
        <form id="f1" action="http://148.70.137.99:8080/xblog/admin/v1/user/personalpage" method="get">
            <button type="submit">个人页</button>
        </form>
        <form id="f2" action="http://148.70.137.99:8080/xblog/admin/v1/text/feeds" method="get">
            <button type="button" onclick="addfeedsparam()">首页</button>
        </form>
    </div>
    <div><h1 align="center">{{.title}}</h1> </div>
    <br>
    <div><h3 align="center">创作者: {{.author}}</h3> </div>
    <h4>{{.publish}}</h4>
    <hr>
    <h5 id="blogid">{{.id}}</h5>
    <script>
        var id =document.getElementById("blogid");
        id.style.display="none";
    </script>
    <div>{{.text}}</div>
    <hr>
    <div><h5>star:{{.star}}</h5><h5>browse:{{.browse}}</h5></div>
    <div>
        <form id="f3" action="http://148.70.137.99:8080/xblog/admin/v1/text/publish" method="get">
            <button type="button" onclick="publishaddparam()">发表</button>
        </form>
    </div>
    <div>
        <form id="f4" action="http://148.70.137.99:8080/xblog/admin/v1/text/modify" method="get">
            <button type="button" onclick="modifyaddparam()">修改</button>
        </form>
    </div>
    <div>
        <form id="f5" action="http://148.70.137.99:8080/xblog/admin/v1/text/delete" method="get">
            <button type="button" onclick="deleteaddparam()">删除</button>
        </form>
    </div>
    <script>
        function publishaddparam() {
            var id = document.getElementById("blogid");
            var f = document.getElementById("f3");
            f.action = f.action + "?id=" + id.innerText + "&publish=1";
            window.location.href = f.action;
        }
        function modifyaddparam() {
            var id = document.getElementById("blogid");
            var uid = document.getElementById("userid");
            var f = document.getElementById("f4");
            f.action = f.action + "?id=" + id.innerText;
            window.location.href = f.action;
        }
        function deleteaddparam() {
            var id = document.getElementById("blogid");
            var f = document.getElementById("f5");
            f.action = f.action + "?id=" + id.innerText;
            window.location.href = f.action;
        }
        function addfeedsparam() {
            var f = document.getElementById("f2");
            f.action += "?page=0";
            window.location.href = f.action;
        }
    </script>
</body>
</html>