<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <title>login</title>
    <style type="text/css">
        h2 {color: red}
        p {
            color: blue;
            margin-left: 20px;
            background-color:red;
            padding:20px;
        }
        body {
            background-color: blue;
        }
        textarea {
            width: 1500px;
            height: 500px;
            overflow: auto;
            background-color: yellow;
        }
    </style>
    <script language="JavaScript" type="text/javascript" src="tinymce.min.js">
    </script>
    <script>
        tinymce.init({
            mode: "textareas"
        });
    </script>
</head>
<body>
<div class="box">
    <div><h2 align="center">编辑博文</h2> </div>
</div>
<hr>
    <h5 id="id">{{.id}}</h5>
    <script>
        var id =document.getElementById("id");
        id.style.display="none";
    </script>
    <form id="edit" action="http://148.70.137.99:8080/xblog/admin/v1/text/edit" method="get">
        <input id="title" name="title" type="text" placeholder="请输入标题">
        <textarea id="text" name="text" rows="40" cols="40">
        {{.text}}
        </textarea>
        <p>
            <input type="button" value="保存" onclick="addparam()">
        </p>
    </form>
    <script>
        function addparam() {
            var id = document.getElementById("id");
            var f = document.getElementById("edit");
            var title = document.getElementById("title");
            var text = document.getElementById("text");

            f.action = f.action + "?id=" + id.innerText + "&title=" + title.value + "&text=" + text.value;
            window.location.href = f.action;
        }
    </script>
</body>
</html>

